.container {
  width: 100%;
  padding: 0px 16px;
  max-width: 1170px;
  margin: 0px auto;

  @media (min-width: v.$bp-tb) and (max-width: v.$bp-s) {
    padding: 0px 32px;
  }

  @media (min-width: v.$bp-s) and (max-width: v.$bp-l) {
    padding: 0px 60px;
  }

  @media (min-width: v.$bp-l) {
    padding: 0px;
  }
}