$primary: #F4E041;
$secondary: #00BDD3;
$bg: #F8F8F8;

$gray: #B4B4B4;
$light-gray: #D0CFCF;
$dark-gray: #7E7E7E;

$red: #CB3D40;

$active-primary: #FFE302;

$bp-tb: 768px;
$bp-s: 1024px;
$bp-l: 1290px; // 1170 - max width of container + 2*60(padding)

$cont-max: 1170px;